@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Try <a asp-controller="Home" asp-action="PasswordCheck">Password test</a>.</p>
    <p>Try <a asp-controller="Home" asp-action="DatabaseReadabilityCheck">Database readability test</a>.</p>
    <p></p>
    <p>Try <a asp-controller="Performance" asp-action="ParticipationsIndexClassic">Participations Index Classic Test</a>.</p>
    <p>Try <a asp-controller="Performance" asp-action="ParticipationsIndexWithSearch">Participations Index With Search Test</a>.</p>
    <p>Try <a asp-controller="Performance" asp-action="ParticipationsIndexWithDictionarySearch">Participations Index With Dictionary Search Test</a>.</p>
    <p>Try <a asp-controller="Performance" asp-action="ParticipationsIndexWithSingleRetrieve">Participations Index With Single Retrieve Test</a>.</p>
    <p>Try <a asp-controller="Performance" asp-action="PerformFullTest">Performance Full Test</a>.</p>
</div>
